


<div class="feed">
    <h1>Seus amigos </h1>
    <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
         <button type="submit">Desfazer amizade</button>
        </form>
        <br><br>
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
         <button type="submit">Desfazer amizade</button>
        </form>
        <br><br>
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
         <button type="submit">Desfazer amizade</button>
        </form>


  </div>


  <div class="feed">
    <h1>possiveis amigos </h1>
    <img src="/static/imagens/usuario.png" alt="">
    <h1>nome usuario </h1>
    <form action="#" method="post">
      <button type="submit">Adicionar</button>
    </form>
  </div>
