

    <div class="novo_flashCard feed">
     
      
      <h1>Postar novo Desafio</h1>
      <button class="topo divOculta">topo</button>
      <form action="/novo_desafio" method="post" id="formDesafio">
        <label for="pergunta">Pergunta</label>
        <input type="text" name="pergunta" id="pergunta" required><br>
        <label for="respostaA">Alternativa A</label>
        <input type="text" name="respostaA" id="respostaA" required><br>
        <label for="respostaB">Alternativa B</label>
        <input type="text" name="respostaB" id="respostaB"><br>
        <label for="respostaC">Alternativa C</label>
        <input type="text" name="respostaC" id="respostaC"><br>
        <label for="respostaD">Alternativa D</label>
        <input type="text" name="respostaD" id="respostaD"><br>
        <label for="respostaCerta">Alternativa correta</label>
        <select name="respostaCerta" id="respostaCerta" required>
          <option value="respostaA">A</option>
          <option value="respostaB">B</option>
          <option value="respostaC">C</option>
          <option value="respostaD">D</option>
        </select><br>
        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria" required>
          <option value="html">html</option>
          <option value="css">css</option>
          <option value="javaScript">javaScript</option>
          <option value="backEnd">backEnd</option>
        </select>
        <label for="dificuldade">Dificuldade</label>
        <select name="dificuldade" id="dificuldade" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select><br>
                 <button type="submit">criar novo desafio</button>
         
         
      </form>



    </div>

    {% set menssagens = get_flashed_messages() %}
{% if menssagens %}
<div id="alerta" class="feed">
    {{ menssagens[0] }}
</div>

<script>
    setTimeout(function() {
        document.getElementById('alerta').style.display = 'none';
    }, 10000); // tempo que o alerta vai ficar visivel em milisegundos
</script>
{% endif %}

<br><br>

{% if usuarios_com_desafios %}
  {% set desafios_processados = [] %}
  {% for usuario in usuarios_com_desafios %}
    {% for desafio in desafios %}
      {% if desafio[1] == usuario[0] and desafio[0] not in desafios_processados %}
        <div class="feed">
          <img src="{{ usuario[4] }}" alt="">
          <h1>{{ usuario[1] }}</h1>
          <form action="#" method="post" onsubmit="return verificarResposta(this);" data-resposta-certa="{{ desafio[7] }}">
            <h2>{{ desafio[2] }}</h2>
            <input type="radio" id="respostaA" name="resposta" value="respostaA">
            <label for="respostaA">{{ desafio[3] }}</label><br>
            {% if desafio[4] != None %}
            <input type="radio" id="respostaB" name="resposta" value="respostaB">
            <label for="respostaB">{{ desafio[4] }}</label><br>
            {% endif %}
            {% if desafio[5] != None %}
            <input type="radio" id="respostaC" name="resposta" value="respostaC">
            <label for="respostaC">{{ desafio[5] }}</label><br>
            {% endif %}
            {% if desafio[6] != None %}
            <input type="radio" id="respostaD" name="resposta" value="respostaD">
            <label for="respostaD">{{ desafio[6] }}</label><br>
            {% endif %}
            <input type="submit" value="Enviar resposta">
          </form>
        </div>
        {% set _ = desafios_processados.append(desafio[0]) %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}




<script>
function verificarResposta(form) {
  var respostaCerta = form.getAttribute('data-resposta-certa');
  var respostaUsuario = form.elements['resposta'].value;
  if (respostaUsuario == respostaCerta) {
    alert("Resposta correta! também né facil assim.");
  } else {
    alert("Resposta errada. largue ti e vai ser empacotador");
  }
  return false;  // Retorne false para evitar que o formulário seja submetido
}
</script>


    

