

    <div class="novo_flashCard feed">
      <h1>Postar novo Desafio</h1>
      <form action="#" method="post" id="formDesafio">
        <label for="pergunta">Pergunta</label>
        <input type="text" name="pergunta" id="pergunta"><br>
        <label for="respostaA">Alternativa A</label>
        <input type="text" name="respostaA" id="respostaA"><br>
        <label for="respostaB">Alternativa B</label>
        <input type="text" name="respostaB" id="respostaB"><br>
        <label for="respostaC">Alternativa C</label>
        <input type="text" name="respostaC" id="respostaC"><br>
        <label for="respostaD">Alternativa D</label>
        <input type="text" name="respostaD" id="respostaD"><br>
        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria">
          <option value="">html</option>
          <option value="">css</option>
          <option value="">javaScript</option>
          <option value="">backEnd</option>
        </select>
        <label for="dificuldade">Dificuldade</label>
        <select name="dificuldade" id="dificuldade">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
         <button type="submit">criar novo desafio</button>
      </form>



    </div>

    {% set menssagens = get_flashed_messages() %}
{% if menssagens %}
<div id="alerta" class="feed">
    {{ menssagens[0] }}
</div>

<script>
    setTimeout(function() {
        document.getElementById('alerta').style.display = 'none';
    }, 5000);
</script>
{% endif %}


      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
       


    

