

    <div class="novo_flashCard feed">
      <h1>Postar novo Desafio</h1>
      <form action="#" method="post">
        <label for="pergunta">Pergunta</label>
        <input type="text" name="pergunta" id="pergunta">
        <label for="resposta">Resposta</label>
        <input type="text" name="resposta" id="resposta">
        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
        </select>
        <label for="dificuldade">Dificuldade</label>
        <select name="dificuldade" id="dificuldade">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
         <button type="submit">criar novo desafio</button>
      </form>



    </div>

      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
      <div class="feed">
        <img src="/static/imagens/usuario.png" alt="">
        <h1>nome usuario </h1>
        <form action="#" method="post">
          <h2>conteudo postado</h2>
          </select>
       
          </select>
        </form>
      </div>
    
       


    

